.simba{
  font-size: xx-large;
  color: darkolivegreen;
  float: center;
  margin-left: 800px;
  position: relative;
}
.one {
  list-style-type: none ;
  overflow: hidden;
  background-color:black;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 80px;
  position: relative;
}
nav{
  text-align: left;
  margin-left: -0.2;
  margin-right: -0.2px;
  margin-top: -10px;
  position: relative;
}
.one button{
  margin-top: 5px;
  margin-right: 20px;
  width: 150px;
  height: 60px;
  transition: property 0.3s, background-color 0.3s;
  position: relative;
}
.one h1{
  float: left;
  margin-top: -20px;
  position: relative;
}
.one button:hover{
  background-color: chocolate;
  position: relative;
}
.one a:hover{
  color:blue;
  position: relative;
}
.hey{
  background-color: blue;
  font-size: large;
  float: right;
  border-radius: 5px;
  color: black; 
  margin-bottom: 10px;
  position: relative;
}
.hey a{
  text-decoration: none;
  color: black;
  position: relative;
}
.one li {
  float: right;
  margin-top: 6px;
  position: relative;
}

.one li a {
  display: block;
  color:blue;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
  position: relative;
}

.one li a:hover {
  background-color:whitesmoke;
  width: 130px;
  height: 30px;
  position: relative;
}
.two {
  text-align: center;
  position: relative;
}

.two img {
  width: 40%;
  margin-left: -400px;
  border-radius: 400px;
  padding-top: -200px;
  position: relative;
}
.two button{
  width: 25%;
  height: 50px;
  border-radius: 5px;
  background-color: blue;
  margin-bottom: 30px;
  font-size: large;
  position: relative;
}
.two button:hover{
  background-color: darkorange;
  position: relative;
}
.two a{
  text-decoration: none;
  color: black;
  position: relative;
}
.two a:hover{
  color: blue;
  position: relative;
}

.two h1 {
  color:blue;
  margin-top: -320px;
  margin-left: 640px;
  padding-right: 80px;
  font-weight: bolder;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: xx-large;
  position: relative;
}

.two p {
  font-size: medium;
  background-attachment:scroll;
  position: relative;
  direction:ltr;
  font-weight:lighter;
  text-align: left;
  margin-left: 650px;
  text-align: justify;
  padding-right: 10px;
}
.elie{
  font-size: xx-large;
  position: relative;
}
.seven{
  width: 140px;
  height: 54px;
  float: right;
  margin-top: -24px;
  margin-right: 80px;
  background-color: chartreuse;
  border-radius: 10px;
  position: relative;
}

.three{
  width: 500px;
  size: 40px;
  float: left;
  margin-top: -60px;
  position: relative;
}
.three button{
  width: 200px;
  height: 50px;
  background-color: blue;
  border-radius: 40px;
  position: relative;
}
.seth{
  float:right;
  width: 140px;
  margin-right: 35px;
  margin-top: -24px;
  height: 54px;
  background-color: chartreuse;
  border-radius: 10px;
  position: relative;
}
.seth a{
  text-decoration: none;
  color: black;
  font-size: larger;
  position: relative;
}
.seven a{
  text-decoration: none;
  color:black;
  font-size: larger;
  position: relative;
}
  .mbappe{
    background-color:azure;
    width: 100%;
    position: relative;
    
 
  }
  .seen p{ 
    font-size: medium;
  text-align: left;
  display: flex;
  margin-left: 780px;
  margin-top: 5px;
  font-weight: lighter;
  position: relative;
  padding-right: 20px;
  text-align: justify;
  }
  .mbappe h1{
    color:blue;
    position: relative;
  }
    article{
    font-size: xx-large;
    float: center;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-weight: bolder;
    margin-bottom: -100px;
    padding-left: -600px;
    padding-top: 20px;
    position: relative;
  }
  aside{
    margin-right: -50px;
    text-align: left;
    position: relative;
  }
  .container{
    background-color: aliceblue;
    width: 100%;
    position: relative;
  }
 
.container h1{
  text-shadow: 20px 20px 50 #444;
  margin-bottom: 10px;
  padding-top: 20px;
  position: relative;
}
.machu{
  background-color:azure;
  width: 95%;
  margin-bottom: 20px;
  padding-bottom: 40px;
  position: relative;
}
.container p{
  text-align: left;
  margin-top: 200px;
  margin-left: 680px;
  font-size: larger;
  padding-right: 60px;
  text-align: justify;
  position: relative;
}
.machu button{
  margin-left: 95px;
  width: 160px;
  height: 60px;
  background-color: blue;
  border-radius: 5px;
  position: relative;
}
.gross{
  margin-right: 180px;
  position: relative;
}
.machu a{
  text-decoration: none;
  color: ghostwhite;
  font-size: larger;
  position: relative;
}
.you{
  width: 80%;
  height: 60%;
  background-color:aliceblue;
  margin-right: 200px;
  margin-top: 10px;
  position: relative;
} 
.seen{
  background-color: aliceblue;
width: 95%;
padding-bottom: 200px;
position: relative;
margin-top: 20px
}
.seen h1{
  margin-right: 500px;
  font-size: xx-large;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
}
.seen h2{
margin-left: 450px;
margin-top: -400px;
font-size: xx-large;
color: blue;
font-weight: bolder;
position: relative;
}
.seen button{
  width: 160px;
  height: 60px;
  margin-left: 280px;
  border-radius: 5px;
  background-color: blue;
  margin-top: 5px;
  position: relative;
}
.seen button:hover{
  background-color:darkorange;
  position: relative;
}
.seen a:hover{
  color:blue;
  position: relative;
}
.seen a{
  text-decoration: none;
  font-size: large;
  color: black;
  position: relative;
}
.seen img{
  margin-right: 500px;
  position: relative;
}
#myImage{
  width: 500px;
  height: 500px;
  margin-right: 700px;
  border-radius: 300px;
  margin-top: -300px;
  position: relative;
}
.enzo{
  width: 95%;
  background-color:aliceblue;
  margin-bottom: -80px;
  padding-bottom: 280px;
  position: relative;
}
.hello img{
  width: 580px;
  height: 650px;
  margin-left: 700px;
  margin-top: 20px;
  border-radius: 10px;
  position: relative;
}
.hello h1{
  margin-right: 700px;
  margin-top: -480px;
  font-weight:bolder;
  color:blue;
  position: relative;
}
.hello p{
  margin-right: 780px;
  padding-left: 108px;
  font-size: larger;
  text-align: justify;
  position: relative;
}
.hello button{
  background-color: blue;
  width: 160px;
  height: 60px;
  margin-right: 1050px;
  border-radius: 5px;
  font-size: larger;
  position: relative;
}
.hello a{
  text-decoration: none;
  color: floralwhite;
  position: relative;
}
.really{
  background-color: azure;
  width: 95%;
  padding-top: 200px;
  position: relative;
}
.really{
  margin-bottom: 40px;
  padding-bottom: 20px;
  backdrop-filter: blur(50px);
  position: relative;
}
.really img{
  width: 500px;
  height: 500px;
  position: relative;
}
  @keyframes simba {
    from{
      transform: translateX(-300px);
    }
    to{
      transform: translateX(0px);
    }
  }
  .simba{
    animation: simba;
    animation-duration: 5s;
    animation-timing-function:ease-in-out;
    animation-delay: 5s;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
  body {
    column-count: 3;
  }
  body {
    column-width: 150em;
    max-width: 100%;
  }
  body {
    display: grid;
    grid-template-columns: 2fr;
  }
  
  .item {
    flex: 2;
  }
  img{
    max-width: 100%;
  }