.one {
  list-style-type: none ;
  overflow: hidden;
  background-color:aliceblue;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

}
.hey{
  background-color: blue;
  width: 140px;
  height: 50px;
  font-size: large;
  float: right;
  border-radius: 10px;
  color: black; 
}
.hey a{
  text-decoration: none;
  color: black;
}
.one li {
  float: right;
}

.one li a {
  display: block;
  color:blue;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
}

.one li a:hover {
  background-color:chartreuse;
}
.two {
  text-align: center;
}

.two img {
  width: 40%;
  margin-left: -400px;
  border-radius: 400px;
  padding-top: -200px;

  
  
}
.two button{
  width: 25%;
  height: 50px;
  border-radius: 5px;
  background-color: blue;
  margin-bottom: 30px;
  font-size: large;
}
.two a{
  text-decoration: none;
  color: black;
}

.two h1 {
  color:blue;
  margin-top: -320px;
  margin-left: 640px;
  padding-right: 80px;
  font-weight: bolder;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
}

.two p {
  font-size: large;
  background-attachment:scroll;
  position: relative;
  direction:ltr;
  font-weight:lighter;
  text-align: left;
  margin-left: 650px;
}
.elie{
  font-size: xx-large;
}
.seven{
  width: 140px;
  height: 54px;
  float: right;
  margin-top: -24px;
  margin-right: 80px;
  background-color: chartreuse;
  border-radius: 10px;
}

.three{
  width: 500px;
  size: 40px;
  float: left;
  margin-top: -60px;
}
.three button{
  width: 200px;
  height: 50px;
  background-color: blue;
  border-radius: 40px;
}
.seth{
  float:right;
  width: 140px;
  margin-right: 35px;
  margin-top: -24px;
  height: 54px;
  background-color: chartreuse;
  border-radius: 10px;
}
.seth a{
  text-decoration: none;
  color: black;
  font-size: larger;
}
.seven a{
  text-decoration: none;
  color:black;
  font-size: larger;
}
  .mbappe{
    background-color:azure;
    width: 100%;
    height: 80%;
    
 
  }
  .seen p{ 
  text-align: left;
  display: flex;
  margin-left: 780px;
  margin-top: 5px;
  font-weight: lighter;
  font-size: large;
  position: relative;
  padding-right: 20px;
  }
  .mbappe h1{
    color:blue;
  }
    article{
    font-size: xx-large;
    float: center;
    margin-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    font-weight: bolder;
    margin-bottom: -400px;
    padding-left: -600px;
  }
  aside{
    margin-right: -50px;
    text-align: left;
    position: relative;
  }
  .container{
    background-color: aliceblue;
  }
 
.container h1{
  text-shadow: 20px 20px 50 #444;
}
.machu{
  background-color:azure;
  width: 95%;
  padding-bottom: 80px;
}
.container p{
  text-align: left;
  margin-top: 540px;
  margin-left: 680px;
  font-size: larger;
  padding-right: 60px;
}
.you{
  width: 80%;
  height: 60%;
  background-color:aliceblue;
  margin-right: 200px;
  margin-top: 10px;
} 
.seen{
  background-color: aliceblue;
width: 95%;
height: 95%;
padding-bottom: 150px;

}
.seen h1{
  margin-right: 500px;
  font-size: xx-large;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.seen h2{
margin-left: 450px;
margin-top: -400px;
font-size: xx-large;
color: blue;
font-weight: bolder;
}
.seen button{
  width: 180px;
  height: 50px;
  margin-left: 320px;
  border-radius: 5px;
  background-color: blue;
  margin-top: 5px;
}
.seen a{
  text-decoration: none;
  font-size: large;
  color: black;
}
.seen img{
  margin-right: 500px;
  padding-bottom: 60px;
}
#myImage{
  width: 500px;
  height: 500px;
  margin-right: 700px;
  border-radius: 300px;
  margin-top: -300px;
}
.enzo{
  width: 95%;
  background-color:aliceblue;
  margin-bottom: -60px;
  padding-bottom: 480px;
}
.hello img{
  width: 600px;
  height: 550px;
  margin-left: 700px;
  margin-top: 20px;
  border-radius: 10px;
}
.hello h1{
  margin-right: 700px;
  margin-top: -480px;
  font-weight:bolder;
  color:blue;
}